@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: sourceSans;
  src: url("./assets/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf");
}

@font-face {
  font-family: manrope;
  src: url("./assets/fonts/Manrope/static/Manrope-Bold.ttf");
}
@font-face {
  font-family: manropeMed;
  src: url("./assets/fonts/Manrope/static/Manrope-Medium.ttf");
}
@font-face {
  font-family: petrona;
  src: url("./assets/fonts/Petrona/static/Petrona-Medium.ttf");
}
@font-face {
  font-family: raleway;
  src: url("./assets/fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: ralewaySemi;
  src: url("./assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: poiretOne;
  src: url("./assets/fonts/PoiretOne-Regular.ttf");
}

@theme {
  --font-source: "sourceSans", "sans-serif";
  --font-merriWeather: "merriWeather", "sans-serif";
  --font-manrope: "manrope", "sans-serif";
  --font-petrona: "petrona", "sans-serif";
  --font-raleway: "raleway", "sans-serif";
  --font-ralewaySemi: "ralewaySemi", "sans-serif";
  --font-manropeMed: "manropeMed", "sans-serif";
  --font-poiretOne: "poire", "sans-serif";
}

/* Make Poiret One font always uppercase */
.font-poiretOne {
  text-transform: uppercase;
}

/* Desktop burst animations - varied and organic */
.sparkle-burst {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 10;
}

.burst-star {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  opacity: 1;
  animation: burst 0.8s ease-out forwards;
  transform: translate(-50%, -50%) rotate(var(--burst-angle)) translateY(-28px);
}

.burst-star:nth-child(1) {
  animation-duration: 0.75s;
  font-size: 2.4rem;
}

.burst-star:nth-child(2) {
  animation-duration: 0.85s;
  font-size: 2rem;
}

.burst-star:nth-child(3) {
  animation-duration: 0.9s;
  font-size: 2.3rem;
}

.burst-star:nth-child(4) {
  animation-duration: 0.8s;
  font-size: 2.1rem;
}

.burst-star:nth-child(5) {
  animation-duration: 0.88s;
  font-size: 2.5rem;
}

@keyframes burst {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.6) rotate(var(--burst-angle))
      translateY(0) rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.8) rotate(var(--burst-angle))
      translateY(-52px) rotate(288deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8) rotate(var(--burst-angle))
      translateY(-60px) rotate(360deg);
  }
}

/* Mobile burst animations - varied */
.sparkle-burst-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 10;
}

.burst-star-mobile {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1rem;
  opacity: 1;
  animation: burst-mobile 0.8s ease-out forwards;
  transform: translate(-50%, -50%) rotate(var(--burst-angle)) translateY(-16px);
}

.burst-star-mobile:nth-child(1) {
  animation-duration: 0.75s;
  font-size: 1.2rem;
}

.burst-star-mobile:nth-child(2) {
  animation-duration: 0.85s;
  font-size: 1rem;
}

.burst-star-mobile:nth-child(3) {
  animation-duration: 0.9s;
  font-size: 1.15rem;
}

.burst-star-mobile:nth-child(4) {
  animation-duration: 0.8s;
  font-size: 1.05rem;
}

@keyframes burst-mobile {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5) rotate(var(--burst-angle))
      translateY(0) rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.4) rotate(var(--burst-angle))
      translateY(-28px) rotate(288deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4) rotate(var(--burst-angle))
      translateY(-32px) rotate(360deg);
  }
}
